{% extends 'base.html.twig' %}

{% block title %}Participant index{% endblock %}

{% block body %}
    <h1>Participant index</h1>



    <a href="{{ path('participant_new') }}">Create new</a>
{% endblock %}
